
body {
	background-color: lemonchiffon;
}

.car-001,
.car-002,
.car-003 {
	text-align: center;
	padding: 0px 3px;
	border-radius: 2%;
	background-color: white;
	height: 500px;
}

.car-001 {
	border: solid 2px green;
}

.car-002 {
	border: solid 2px blue;
}

.car-003 {
	border: solid 2px red;
}

.availability {
	color: red;
}
