
body {
	background-color: lemonchiffon;
}

.rodeo {
	border: solid 2px green;
	border-radius: 2%;
}

.taurus {
	border: solid 2px lightblue;
	border-radius: 2%;
}

.m83 {
	border: solid 2px silver;
	border-radius: 2%;
}

.targeted-rodeo {
	border: solid 5px green;
	background-color: gold;
}

.targeted-taurus {
	border: solid 5px lightblue;
	background-color: gold;
}

.targeted-m83 {
	border: solid 5px silver;
	background-color: gold;
}